/* GOGGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root {
    --header-height: 3rem;

    /* COLORS */
    --first-color: #26A69A ;
    --first-color-lighter: #ECF3F2 ;
    --title-color: #11443F ;
    --text-color: #5B7B78 ;
    --body-color: #F5FFFE ;

    /* FONT AND TYPGRAPHY */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 3rem ;
    --big-font-size: 1.25rem ;
    --normal-font-size: .938rem ;

    /* FONT WEIGHT */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;

}

@media screen and (min-width: 1024px){
    :root { 
        --biggest-font-size: 5.5rem;
        --big-font-size: 2rem;
        --normal-font-size: 1rem;

    }
}

/* BASE */
*,::before,::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);

}

h1,h2,ul,p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a{ 
    text-decoration: none;

}

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */
.main{ 
    position: relative;
}

.bd-container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* HEADER */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);

}

/* NAV */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

@media screen and (max-width: 768px) {
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-top: 1.5rem;
        background-color: var(--first-color-lighter);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
            }
}


.nav__logo,
.nav__toggle {
   color: var(--first-color-lighter); 
}

.nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__item{
    margin-bottom: 1.5rem;
}

.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}


/* Show menu */
.show-menu{
    top: calc(var(--header-height) + 1rem);
}


/* INLANDS */
.islands{
    height: 100vh;
    position: relative;
}

.islands__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;

}

.islands__container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr .25fr;
    align-content: center;
}

.islands__subtitle,
.islands__title,
.islands__description {
    color: var(--first-color-lighter);

}

.islands__subtitle{
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);

}

.islands__title{
    font-size: var(--biggest-font-size);
}

.islands__description{
    margin-bottom: 1rem;
}

.islands__button{
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--first-color-lighter);
    color: var(--first-color);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    font-weight: var(--font-medium);
}

.islands__button:hover{
    background-color: var(--body-color);

}

.islands__button-icon{
    font-size: 1.5rem;
    margin-left: .5rem;
}

.islands__video{
    display: flex;
    align-items: flex-end;
    padding-bottom: .75rem;
}

.islands__video-content{
    display: inline-flex;
    padding: .16rem;
    background-color: var(--first-color-lighter);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.islands__video-icon{
    font-size: 1.8rem;
    color: var(--first-color);


}

.islands__popup{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: var(--first-color-lighter);
    padding: 1rem .75rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.islands__popup-close{
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    display: inline-flex;
    padding: .35rem;
    background-color: var(--first-color);
    color: var(--first-color-lighter);
    font-size: 1.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

/* Show popup */
.show-popup{
    display: block;
}

/* Controls */
.controls__img{
    width: 40px;
    height: 40px;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    cursor: pointer;
}

.controls{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    -moz-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    -o-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    padding: .25rem .5rem;
    background-color: var(--first-color-lighter);
    border-radius: .75rem;
    -webkit-border-radius: .75rem;
    -moz-border-radius: .75rem;
    -ms-border-radius: .75rem;
    -o-border-radius: .75rem;
    z-index: var(--z-tooltip);
    overflow: hidden;
}

.controls__container{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}


/* Active controls */
.swiper-slide-thumb-active {
    width: 50px;
    height: 50px;
}



/* MEDIA QUERIES */
@media screen and (max-width:320px) {
    .bd-container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .controls__container{
        column-gap: .25rem;
    }

    .islands__popup-video{
        width: 230px;
        height: 100px;
    }
    
}

@media screen and (min-width: 768px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list{
        display: flex;
    }

    .nav__item{
        margin-right: 2rem;
        margin-bottom: 0;
    }

    .nav__link{
        color: var(--first-color-lighter);

    }

    .nav__toggle{
        display: none;
        
    }

    .islands__container{
        grid-template-columns: repeat(2, 1fr);

    }

    .islands__description{
        padding-right: 5rem;
        margin-bottom: 2rem;

    }

    .islands__video{
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    .islands__video-icon{
        font-size: 3rem;

    }

    .islands__popup-video{
        width: 500px;
        height: 250px;

    }

    .islands__popup-close{
        font-size: 1.5rem;
    }

    .controls{
        padding: .5rem;
        border-radius: 1.25rem;
        -webkit-border-radius: 1.25rem;
        -moz-border-radius: 1.25rem;
        -ms-border-radius: 1.25rem;
        -o-border-radius: 1.25rem;
    }

    .controls__container{
        column-gap: 1.5rem;

    }

    .controls__img{
        width: 45px;
        height: 45px;
        border-radius: .75rem;
        -webkit-border-radius: .75rem;
        -moz-border-radius: .75rem;
        -ms-border-radius: .75rem;
        -o-border-radius: .75rem;
    }

    .swiper-slide-thumb-active{
        width: 55px;
        height: 55px;
    }
}

@media screen and (min-width: 1024px) {
    .bd-container{
        margin-left: auto;
        margin-right: auto;
    }

    .islands__description{
        padding-right: 11rem;
    }
}








